.detailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 100%;
  align-items: center;
}

.detailItem {
  background-color: rgba(0, 0, 0, 0.479);
  height: 100px;
  width: 40%;
  padding: 10px 30px;
  text-align: center;
  overflow: hidden;

  border-radius: 7px;
}
